body { width: 80%; margin: 0 auto; text-align: center; margin-top: 20px; background-image: url("http://cdn.pcwallart.com/images/gradient-background-wallpaper-4.jpg");}
input { width: 40%;}
textarea { width: 80%; }

h2 {color: white;}
