<html>
<head>
  <title>JAMES THE WORLD's SMARTEST BOT</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>
  <div class="container">
    <input id="input" type="text"> <button id="rec" class="btn btn-primary btn-lg">Speak</button>
    <br><h2>Response</h2><br> <textarea id="response" class="jumbotron" cols="40" rows="20"></textarea>
  </div>
</body>
</html>
